.info-section-wrapper {
  background-color: #613f8c;
  border-radius: 50px;
  height: 235px;
  position: relative;
  width: 380px;
}

.info-section-wrapper .icon-phone {
  height: 116px;
  left: 130px;
  position: absolute;
  top: 60px;
  width: 121px;
}
